ENV=development
PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=postgres

JWT_TOKEN=your-super-secret-jwt-key-change-in-production
JWT_EXPIRATION=15m
JWT_EXPIRATION_EXCHANGE=7d